* {
    margin: 0px;
    padding: 0px;
}

.top-bar {
    background: #333;
    color: #fff;
    padding: 1rem;
}

.btn {
    background: mediumaquamarine;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.but:hover {
    opacity: 0.9;

}

.page-info {
    margin-left: 1rem;
}

.error {
    background: orange;
    color: #fff;
    padding: 1rem;
}